.start{
    margin-top: 7%;
    padding: 20px;
}

.title{
    font-size: 2.5em;
    justify-content: baseline;
}

.title h2{
    margin-bottom: -30%;
    margin-right: 70%;
}

.title h1{
    font-size: 2.9em;
    background: rgba(93, 93, 236, 0.457);
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
}

